#root {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  object-fit: none;
  overflow: hidden;
  user-select: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.PlayersInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 2rem;

  .Player {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    // background-color: red;

    .userName-container {
      // background-color: blue;
      width: 15%;
      .userName {
        font-size: 1rem;
      }
    }

    .progress-bar-container {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #e0e0e0;
      border-radius: 5px;

      .progress-bar {
        height: 1rem;
        background-color: rgb(199, 39, 199); //#76c7c0;
        border-radius: 5px;
      }
    }

    .statistics-container {
      width: 15%;
      // background-color: green;
    }
  }
}

.powerUps-container {
  display: flex;
  justify-self: center;
  justify-content: space-around;
  align-items: center; /* Center items vertically */

  .powerUp {
    width: 7rem;
    height: 4rem;
    border-width: 2px;
    border-color: grey;
    border-style: solid;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.blur {
  opacity: 0.25;
  filter: blur(4px);
}

.hidden {
  display: none;
  opacity: 0;
}

.textArea {
  width: 100%;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  user-select: none;
  margin-bottom: 4rem;
  -webkit-user-select: none;

  &:focus {
    outline: none;
  }

  .inputText,
  .displayText {
    width: 100%;
    min-height: 10rem;
    font-size: 2.5rem;
    font-family: "Special Elite", system-ui;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    line-height: 1;
    user-select: none;
    pointer-events: none;
  }

  .inputText {
    color: transparent;
    user-select: none;
    -webkit-user-select: none;
    border-color: transparent;
  }

  .inputText:focus {
    outline-width: 0;
  }

  .displayText {
    background-color: #242424;
    z-index: -1;
    color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2rem;
    overflow: hidden;
    max-height: 10rem;
    letter-spacing: 2px;

    .word {
      display: inline;
      height: max-content;
      margin-right: 0.7rem;
      padding-left: 0.1rem;
    }
  }

  .correct {
    color: #d1d0c5;
  }

  .wrong {
    color: #ca4754;
  }

  .extra {
    text-decoration: underline;
  }

  .active {
    text-decoration: underline;
  }
}

.test {
  width: 100%;
  min-height: 10rem;
  background-color: transparent; //rgb(191, 191, 191);
  display: flex;
}

.letter.cursor {
  border-left: 2px solid rgb(226, 183, 20);
  //animation: sideways ease 1s infinite;
  display: inline-block;
}

@keyframes sideways {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
